@import "./scss/search.scss";
@import "./scss//temp.scss";
@import "./scss/conditions.scss";
@import "./scss/forecast.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-color: black;
  background-size: cover;

  .weather-box {
    background-image: url(./assets/clouds.jpg);
  }

  &.clear .weather-box {
    background-image: url(./assets/clear.jpg);
  }

  &.clouds .weather-box {
    background-image: url(./assets/clouds.jpg);
  }

  &.rain .weather-box {
    background-image: url(./assets/rain.jpg);
  }

  &.thunderstorm .weather-box {
    background-image: url(./assets/storm.jpg);
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas: 
  "search"
  "main"
  "sub";
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.75)
  );
}

.main-area {
  grid-area: main;
  position: relative;
}

.sub-area {
  grid-area: sub;
}

.location-box {
  padding: 2rem;
  .date {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
  }
}

.weather-box {
  background-size: cover;
  border-radius: 50px;
  box-shadow:inset 0 0 0 2000px rgba(2, 3, 63, 0.3);
  margin: 0 1rem;
}

.weather-info {
  position: relative;
  width: 80%;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;

  .label,
  .data {
    width: 50%;
    float: left;
    padding: 1rem;
    font-size: 20px;
  }

  .label {
    border-right: 1px solid white;
  }

  .weather-icon-text {
    font-size: 3rem;
    border-bottom: 1px solid white;
    padding: 1rem;
  }
  .weather-icon {
    margin: -2rem 0 -3rem 0;
  }
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "search ."
    "main sub";
  }

  
}