.conditions {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #fff;

    .icon {
        .weather-icon {
            text-align: center;
            
            svg {
                height: 12rem;
            }
        }

        .weather-icon-text {
            text-align: center;
            margin-top: -1rem;
            font-size: 2rem;
        }
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 8rem;

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .label {
                font-size: .8rem;
                color: lightgrey;
            }
    
            .data {
                margin-bottom: .5rem;
            }
        }
    }
}