.temp-box {
    position: absolute;
    right: 0;
    top: 3rem;
    padding: 2rem;
    background-color: #3338BE;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    z-index: 100;

    @media (min-width: 768px) {
        top: 1rem;
    }

    .temp {
        font-size: 5rem;
    }

    .sub-temp {
        font-size: .8rem;
    }
}